name: 'Build SDK'
description: 'Build SDK for a given API'
inputs:
  module-name:
    description: 'Name of the ruby module.'
    required: true
runs:
  using: "composite"
  steps:
    - name: Build gemspec
      shell: bash
      run: cd ${{ inputs.module-name }} && gem build *.gemspec